<section>
  <div class="mx-auto max-w-screen-xl flex min-h-full flex-col justify-center px-4 py-8 sm:px-6 lg:px-8">
    <h2 class="text-center text-2xl font-bold tracking-tight text-gray-800">
      Gérer les commandes
    </h2>

    <div class="mt-10 flex flex-col items-end md:flex-row gap-6">
      <div class="w-full md:w-1/3">
        <label for="dateDu" class="block text-sm/6 font-medium text-gray-900">
          Date du
        </label>
        <div class="mt-2">
          <p-datepicker
            id="dateDu"
            [(ngModel)]="dateDu"
            [showClear]="true"
            dateFormat="yy-mm-dd"
            class="w-full"
          />
        </div>
      </div>
      <div class="w-full md:w-1/3">
        <label for="dateAu" class="block text-sm/6 font-medium text-gray-900">
          Date au
        </label>
        <div class="mt-2">
          <p-datepicker
            id="dateAu"
            [(ngModel)]="dateAu"
            [showClear]="true"
            dateFormat="yy-mm-dd"
            class="w-full"
          />
        </div>
      </div>
      <div class="w-full md:w-1/3">
        <label class="block text-sm/6 font-medium text-gray-900">
          le statut de la commande
        </label>
        <div class="mt-2">
          <p-select
            [options]="[
              {_id: 'pending', name: 'En Attente'},
              {_id: 'done', name: 'Confirmé'},
              {_id: 'cancelled', name: 'Annulé'},
            ]"
            [(ngModel)]="statusFilter"
            [showClear]="true"
            [showClear]="true"
            emptyMessage="Aucun résultat trouvé"
            optionLabel="name"
            optionValue="_id"
            placeholder="Choisir le statut de la commande" class="w-full"
          />
        </div>
      </div>
    </div>

    @if (orders().length > 0) {
      <div class="mt-10">
        <p-table
          [value]="orders()"
          [tableStyle]="{ 'min-width': '40rem', 'white-space': 'nowrap' }"
          [size]="'large'"
          [loading]="loadingOrders"
        >
          <ng-template #header>
            <tr>
              <th>#</th>
              <th>Livreur</th>
              <th>Vendeur</th>
              <th>Client</th>
              <th>Produits</th>
              <th>Quand il le veut?</th>
              <th>Statut</th>
              <th>Actes</th>
            </tr>
          </ng-template>
          <ng-template #body let-order let-rowIndex="rowIndex">
            <tr>
              <td>{{ rowIndex + 1 }}</td>
              <td>{{ order.deliveryMan.username }}</td>
              <td>{{ order.seller.username }}</td>
              <td>
                {{ order.client.name + ' [' + order.client.clientNumber + ']' }}
              </td>
              <td>
                <p-button
                  label="Ouvrir"
                  link
                  (click)="itemsDialog($event, order._id)"
                />
              </td>
              <td>{{ formatWantedDate(order.wantedDate) }}</td>
              <td>{{ translatedOrderStatus(order.status) }}</td>
              <td>
                <div class="card flex justify-center">
                  <!-- 1) appendTo="body" -->
                  <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" />

                  <!-- 2) use (onClick) instead of (click) -->
                  <p-button
                    icon="pi pi-ellipsis-v"
                    (onClick)="menu.toggle($event); loadOrder($event, order._id)"
                    styleClass="p-button-text"
                  />
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="mt-10">
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="(currentPage()-1) * pageSize"
          [rows]="pageSize"
          [totalRecords]="totalOrders()"
          styleClass="p-0"
        />
      </div>
    } @else {
      <div class="mt-10">
        <p class="text-center font-semibold tracking-tight text-red-500">
          Aucune commande à afficher!
        </p>
      </div>
    }
  </div>
</section>

<p-toast
  [breakpoints]="{ '576px': { width: 'calc(100% - 30px)', right: '0', left: '15px' } }"
/>

<p-dialog
  header="Confirmer la suppression"
  [(visible)]="showDeleteDialog"
  [modal]="true"
  [closable]="!deleteLoading"
  [dismissableMask]="!deleteLoading"
  [style]="{ width: '350px' }"
>
  <p>Êtes-vous sûr de vouloir supprimer cette commande?</p>
  <ng-template pTemplate="footer">
    <p-button
      label="Annuler"
      (click)="showDeleteDialog=false"
      [disabled]="deleteLoading"
      class="p-button-text"
    />
    <p-button
      label="Supprimer"
      severity="danger"
      (click)="onDeleteConfirmed()"
      [loading]="deleteLoading"
      [disabled]="deleteLoading"
    />
  </ng-template>
</p-dialog>

<p-dialog
  [header]="'Info Commande'"
  [(visible)]="showItemsDialog"
  [modal]="true"
  [breakpoints]="{'576px': '385px', '360px': '330px'}"
  draggable="false"
>
  <p-table
    [value]="items()"
    [tableStyle]="{ 'min-width': '40rem', 'white-space': 'nowrap' }"
    [size]="'large'"
  >
    <ng-template #header>
      <tr>
        <th>#</th>
        <th>Nom du produit</th>
        <th>Quantité</th>
        <th>Vendu par</th>
      </tr>
    </ng-template>
    <ng-template #body let-item let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ item.productId.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.soldBy }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog
  [header]="'Info Commande' + ' (' + translatedOrderStatus(order()?.status!) + ')'"
  [(visible)]="showChangeOrderStatusDialog"
  [modal]="true"
  [style]="{width: '450px'}"
  [breakpoints]="{'576px': '385px', '360px': '330px'}"
  draggable="false"
>
  <div class="space-y-6">
    <div class="w-full">
      <label class="block text-sm/6 font-medium text-gray-900">
        Modifier le statut de la commande
      </label>
      <div class="mt-2">
        <p-select [options]="[
              {_id: 'pending', name: 'En Attente'},
              {_id: 'done', name: 'Confirmé'},
              {_id: 'cancelled', name: 'Annulé'},
            ]"
            [ngModel]="orderStatus()"
            (ngModelChange)="orderStatus.set($event)"
            [showClear]="true"
          emptyMessage="Aucun résultat trouvé" optionLabel="name" optionValue="_id"
          placeholder="Choisir le statut de la commande" class="w-full" appendTo="body" />
      </div>

    </div>
    @if (order()?.status === 'pending') {
      <div class="w-full">
        <label for="updatedWantedDate" class="block text-sm/6 font-medium text-gray-900">
          Choisir la date
        </label>
        <div class="mt-2">
          <p-datepicker [appendTo]="'body'" [(ngModel)]="updatedWantedDate" id="expiringAt" styleClass="w-full"
            dateFormat="yy-mm-dd" />
        </div>
      </div>
    }
  </div>
  <ng-template pTemplate="footer">
    <p-button
      label="Annuler"
      (click)="showChangeOrderStatusDialog=false"
      [disabled]="updateLoading"
      class="p-button-text"
    />
    <p-button
      label="sauvegarder"
      severity="danger"
      (click)="updateOrderStatus()"
      [loading]="updateLoading"
      [disabled]="updateLoading"
    />
  </ng-template>
</p-dialog>

<p-dialog
  [header]="'Ajouter une nouvelle vente'"
  [(visible)]="showSaleDialog"
  [modal]="true"
  styleClass="w-[330px] md:w-[450px] overflow-auto"
  [contentStyle]="{'overflow':'visible'}"
>
  <div class="space-y-6">
    <div class="w-full">
      <label for="client" class="block text-sm/6 font-medium text-gray-900">
        Le client
      </label>
      <div class="mt-2">
        <input pInputText readonly id="client" type="text"
        [value]="order()?.client?.clientNumber +
          ' - ' + order()?.client?.name"
          class="w-full" />
      </div>
    </div>
    <div class="w-full">
      <label for="wantedDate" class="block text-sm/6 font-medium text-gray-900">
        Quand le veut-il?
      </label>
      <div class="mt-2">
        <div class="card flex justify-center">
          <p-datepicker id="wantedDate" [(ngModel)]="wantedDate" styleClass="w-full" dateFormat="yy-mm-dd"
            [appendTo]="'body'" />
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer" class="pt-4">
    <p-button
      label="Annuler"
      (click)="showSaleDialog=false"
      class="p-button-text"
    />
    <p-button
      [label]="'Ajouter une vente'"
      severity="danger"
      (click)="onSaleConfirmed()"
    />
  </ng-template>
</p-dialog>
