
<section>
  <div class="mx-auto max-w-screen-xl flex min-h-full flex-col justify-center px-4 py-8 sm:px-6 lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-800 text-center">
      Toutes les villes dans lesquelles nous vendons
    </h2>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form (submit)="onSubmit()" class="space-y-6">
        <div>
          <label for="cityName" class="block text-sm/6 font-medium text-gray-900">
            Nom de la ville
          </label>
          <div class="mt-2">
            <input
              pInputText
              id="cityName"
              name="nameSearch"
              [(ngModel)]="nameSearch"
              type="text"
              class="w-full"
              autocomplete="cityName"
            />
          </div>
        </div>

        @if (userType === 'admin') {
          <div>
            <p-button
              type="submit"
              label="Créer une ville"
              severity="success"
              [loading]="createLoading"
            />
          </div>
        }
      </form>
    </div>

    @if (cities().length > 0) {
      <div class="mt-10">
        <p-table
          [value]="cities()"
          [tableStyle]="{ 'min-width': '40rem' }"
          [size]="'large'"
          [loading]="loading"
        >
          <ng-template #header>
            <tr>
              <th>#</th>
              <th>Le nom de la ville</th>
              <th>Secteurs de la ville</th>
              @if (userType === 'admin') { <th>Actes</th> }
            </tr>
          </ng-template>
          <ng-template #body let-city let-rowIndex="rowIndex">
            <tr>
              <td>{{ rowIndex + 1 }}</td>
              <td>{{ city.name }}</td>
              <td><p-button label="Link" link [routerLink]="'/'+userType+'/'+'manage-sectors/'+city._id" /></td>
              @if (userType === 'admin') {
                <td class="flex flex-row-reverse md:flex-row gap-2">
                  <p-button
                    icon="pi pi-pen-to-square"
                    [outlined]="true"
                    class="flex-auto md:flex-initial whitespace-nowrap"
                    (click)="updateDialog($event, city._id)"
                  />
                  <p-button
                    icon="pi pi-trash"
                    severity="danger"
                    [outlined]="true"
                    (click)="deleteConfirm($event, city._id)"
                  />
                </td>
              }
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="mt-10">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="(currentPage()-1) * pageSize" [rows]="pageSize"
          [totalRecords]="totalCities()" styleClass="p-0" />
      </div>
    } @else {
      <div class="mt-10">
        <p class="text-center font-semibold tracking-tight text-red-500">
          Aucune villes à afficher!
        </p>
      </div>
    }
  </div>
</section>

<p-toast [breakpoints]="{ '576px': { width: 'calc(100% - 30px)', right: '0', left: '15px' } }" />

<p-dialog
  header="Confirmer la suppression"
  [(visible)]="showDeleteDialog"
  [modal]="true"
  [closable]="!deleteLoading"
  [dismissableMask]="!deleteLoading"
  styleClass="w-[330px] md:w-[450px]"
>
  <p>Êtes-vous sûr de vouloir supprimer cette ville?</p>
  <ng-template pTemplate="footer">
    <p-button label="Annuler" (click)="showDeleteDialog=false" [disabled]="deleteLoading" class="p-button-text" />
    <p-button label="Supprimer" severity="danger" (click)="onDeleteConfirmed()" [loading]="deleteLoading" />
  </ng-template>
</p-dialog>

<p-dialog
  header="Mettre à jour le ville"
  [(visible)]="showUpdateDialog"
  [modal]="true"
  [closable]="!updateLoading"
  [dismissableMask]="!updateLoading"
  styleClass="w-[330px] md:w-[450px]"
>
  <form [formGroup]="updateCityFormData" class="space-y-6">
    <div class="w-full">
      <label for="name" class="block text-sm/6 font-medium text-gray-900"
        [class.text-red-600!]="name.touched && name.dirty && name.invalid">
        Nom du ville
      </label>
      <div class="mt-2">
        <input id="name" type="text" pInputText [formControl]="name" class="w-full"
          [class.border-red-600!]="name.touched && name.dirty && name.invalid" autocomplete="name" />
        @if(name.touched && name.dirty) {
          @if(name.hasError("required")) {
            <div class="text-red-600 text-sm mt-1">
              Le nom du ville est obligatoire!
            </div>
          }
        }
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button label="Annuler" (click)="showUpdateDialog=false" [disabled]="updateLoading" class="p-button-text" />
    <p-button label="Modifier" severity="danger" (click)="onUpdateConfirmed()" [loading]="updateLoading" />
  </ng-template>
</p-dialog>
